version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - RUST_LOG=${LOG_LEVEL}
      - MNEMONIC=${MNEMONIC}
      - CONTRACT_ADDRESS=${CONTRACT_ADDRESS}
      - FAUCET_ADDRESS=${FAUCET_ADDRESS}
      - REDIS_URL=redis://redis:6379
    #ports:
    #  - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped

  telegram_bot:
    profiles:
      - telegram
    image: konnektoren-telegram-bot
    environment:
      - TELOXIDE_TOKEN=${TELOXIDE_TOKEN}
    env_file:
      - .env
    restart: unless-stopped

  redis:
    image: redis:latest
    restart: unless-stopped
    volumes:
      - ./redis-data:/data

  cloudflared:
    profiles:
      - cloudflare
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token ${CF_TUNNEL_TOKEN}
    environment:
      - CF_TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}
    depends_on:
      - server
